<?xml version="1.0" encoding="UTF-8"?>
<launch4jConfig>
  <dontWrapJar>false</dontWrapJar>
  <headerType>gui</headerType>
  <jar>C:\Users\LUIS\Documents\GitHub\TecnoLuis-GestionStock\store\TecnoLuis-GestionStock.jar</jar>
  <outfile>C:\Users\LUIS\Desktop\Tarefa_LuisDarwinPradoCisneros_DAM\TecnoLuis-GestionStock.exe</outfile>
  <errTitle></errTitle>
  <cmdLine></cmdLine>
  <chdir>.</chdir>
  <priority>normal</priority>
  <downloadUrl></downloadUrl>
  <supportUrl></supportUrl>
  <stayAlive>false</stayAlive>
  <restartOnCrash>false</restartOnCrash>
  <manifest></manifest>
  <icon>C:\Users\LUIS\Downloads\TecnoLuis_Icono\TecnoLuis.ico</icon>
  <jre>
    <path>C:\Program Files\Java\jdk-23</path>
    <requiresJdk>false</requiresJdk>
    <requires64Bit>false</requires64Bit>
    <minVersion></minVersion>
    <maxVersion></maxVersion>
  </jre>
</launch4jConfig>